.check-in-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(92, 92, 92, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  
    &.visible {
      display: flex;
    }
}
  
.modal-content {
    background-color: white;
    padding: 0 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

.modal-header {
  display: flex;
  align-items: center;
}

.close-btn {
  border: none;
  box-shadow: none;
}

.close-icon {
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #7a7a7a;
}
  
.horizontal-line {
    width: 100%;
    border: 1px solid #e3e3e3;
}

.input {
    width: 100%;
    border: 1px solid #ccc;
}

.modal-buttons {
    display: flex;
    justify-content: right;
}
  
.modal-buttons button {
    padding: 0 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}

.cancel {
    color: #000;
    border: 1px solid black;
    background-color: #f9f9f9;
}

.checkIn {
    background-color: #007bff;
    color: white;
}
