body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0e06b3;
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
    font-size: 45px;
    display: flex;
    justify-content: center;
}
  
  